.app-container {
	margin: auto;
  	max-width: 1100px;
}
.mg-top {
	margin-top: 32px;
}
.mg-bottom {
	margin-bottom: 32px;
}


.nav-wrapper {
		//max-width: 1170px;
		margin: 0 auto;
}
.nav-logo {
	text-align: center;
	margin-top: 32px;
	margin-bottom: 16px;
	border-bottom: 1px solid #ddd;
}
.hero {
	background: #efefef;
	padding: 40px 20px;

	height: 334px;
  	max-height: 334px;
  	background-size: cover;
  	background-image: url(/img/parliament-tempP.jpg);
}